.slick-sl
{
width:1160px;
margin:0 auto;
max-width: 100%;
overflow: hidden;
}

.slick-sl img{margin:20px auto;}

.slick-dots li button.slick-next
{

}

.slick-dots li button.slick-prev
{

}

button.slick-prev:before{
    content: ' \2039';
}

button.slick-next:before{
    content: "\203A";
}

button.slick-prev:before, 
button.slick-next:before
{

color:#C6B900;
z-index: 100;
font-size: 60px;
}

button.slick-prev{
 z-index: 10; 
 left: -5px;
 top: 120px;  
}

button.slick-next{
 z-index: 10; 
 right: -5px; 
 top: 120px; 
}

.body ul.slick-dots li:before{

}

.image{
    width: 277px !important;
    height: 277px !important;
    padding: 0px;
    background: white;
    border: 1px solid #F4F4F4;
    display: block;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.image img{
 transition: all 0.2s ease;  
box-shadow:0 0 6px 6px rgba(0,0,0,0); 
}

.image:hover{
border-color: rgba(0, 0, 0, 0);
}

.image:hover img{
  transform: scale(1.02,1.02); 
  box-shadow:0 0 6px 6px #555;  
}

.slick-slide>div{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
/*
.slick-slide a{
    display: flex !important;
    justify-content: center;
}
*/

button.slick-prev.slick-disabled:before, button.slick-next.slick-disabled:before{
    opacity: 0;
}

@media (max-width: 980px)
{
button.slick-prev:before, 
button.slick-next:before{
    display: none;
}
}

@media (max-width: 1180px)
{
.slick-sl
{
width:auto;
    }
}


